/* src\features\landingPage\LandingScreen.css */
.background {
    min-height: 100dvh;
    display: flex;
    background-color: #deeef7;
    flex-direction: column;
  }

  .div-logo {
    margin-top: 15dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
  }

  .logo {
    /* height: 40dvh; */
    width: 87dvw;
    object-fit: contain;
    max-height: 400px;
    max-width: 400px;
    min-width: 300px;
    max-height: 300px;
  }

  .div-button {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20dvh;
  }
  .q-btn {
    background-color: #0e255c;
    color: white;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
  }